modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24_05"
packages = ["libsodium", "nettle", "openssh", "openssl", "postgresql", "unzip"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[[ports]]
localPort = 5000
externalPort = 80
